@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    display:none;
    @apply hidden
}

.element {
    scrollbar-width: none; /* Hides the scrollbar */
    overflow: auto; /* Ensures content can still be scrolled */
}

.scroll{
    scrollbar-width: none;
}